<div class="mx-auto max-w-2xl">
  <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Create Pipeline</h2>
  <p class="mt-2 text-sm text-gray-600">Create a reading pipeline to organize your book queue.</p>

  <div class="mt-8">
    <%= render "form", pipeline: @pipeline %>
  </div>
</div>
